* {
  box-sizing: border-box;
}
a {
  color: #0072c8;
  text-decoration: none;
}
.align-left {
  text-align: left;
}
.back-arrow {
 margin-right: 10vw;
 margin-left: 10vw;
}
.back-arrow:hover {
  cursor: pointer;
}
.category-title {
  letter-spacing: 3px;
  word-spacing: 10px;
  color: rgba(0,52,120, .9);

}
.center {
  text-align: center;
}
.container {
  margin: 10px;
}

.flex-box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: white;
  padding: 5vh;
}
.flex {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
}
.flex-box-image {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url('https://imagesgpscourses.s3.amazonaws.com/adult-beard-business-2102415+(1).jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 5vh;
}
.flex-box-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-box-column {
  display: flex; 
  flex-direction: column;
  justify-content: baseline;
  flex-wrap: wrap;
}
.flex-stretch {
  align-content: stretch;
}
.full-height {
  height: 100%;
}
h2, h3, h4 {
  font-weight: 400;
  color: #0072c8; 
  font-family: 'Catamaran', sans-serif;
}
html, body {
  background-color: #f5f4f0;
  height: 100%;
}

label {
  color: #0072c8;
  font-weight: 400;
}
.lead-card {
  background-color: rgba(245, 248, 252, .4);
  padding: 2em;
  margin: 1em;
  box-shadow: -1rem 0 3rem rgba(112, 112, 112, .4);
  border-radius: 5px; 
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center;
  transition: 0.3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 320px;
  flex: 0 0 320px;
  text-align: center;
}
.lead-card-faculty{
  background-color: rgba(245, 248, 252, .4);
  padding: 2em;
  margin: 1em;
  box-shadow: -1rem 0 3rem rgba(112, 112, 112, .4);
  border-radius: 5px; 
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center;
  transition: 0.3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  /* -webkit-box-flex: 0;
  -ms-flex: 0 0 320px;
  flex: 0 0 320px; */
  text-align: center;
}

.lead-card > h4 {
  color: rgba(0,52,120, .9);
  font-size: 1.5rem;
}
.lead-card:hover{
  cursor: pointer;
}
.logo-space {
  background-color: rgba(0,52,120, .9);
}
select {
  padding: 5px;
}
.spacing { height: 5vh;}
.spectrum-yellow-bar {
  background: linear-gradient(-95deg, gold 0%, rgba(174,243,231, .5) 100%); 
  border-radius: 5px; 
  height:5px; 
  margin-bottom: 2vh;
}
.title {
  background-color: rgba(0,52,120, .9);
  color: white;
  padding: 5vh;
  border-radius: 5px;
  max-width: 100%;
  font-size: 2rem;
  margin-top: 60vh;
}
/* For mobile: */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}